.post-creation-container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 17px;
}

.create-post-container {
  display: flex;
  align-items: center;
}

.user-avatar-circle {
  width: 40px;
  height: 40px;
  background-color: #07bdd1;
  color: #45277d;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;
}

.post-input-area {
  flex-grow: 1;
}

.post-header {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.post-options {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.post-option {
  background-color: #f0f0f0;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.post-option.active {
  background-color: #45277d;
  color: #d6e8ea;
}

.post-submit {
  background-color: #45277d;
  color: #d6e8ea;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

.post-submit:hover {
  background-color: #46199a;
}
