.community-page-container {
  width: 100%;
  max-width: 780px; /* Set the maximum width */
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px;
}

.community-page-header {
  display: flex;
  justify-content: space-between; /* Space out the heading and buttons */
  align-items: center;
  margin-bottom: 20px;
}

.community-page-header h2 {
  font-size: 24px;
  margin: 0;
}

.community-header-actions {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
}

.community-header-actions button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.create-community-button {
  background-color: rgb(110, 74, 225);
  color: white;
  border: none;
  border-radius: 4px;
}

.joined-button {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-container h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  background-color: rgb(110, 74, 225);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.close-modal-button {
  margin-top: 15px;
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
