.medicos-container {
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.medicos-heading {
  margin-top: 20px;
  margin-bottom: 20px;
}
