/* General reset for margin and padding */

/* Navbar styling */
nav {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(
    149,
    237,
    234
  ); /* Dark grayish-blue background for a professional look */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 70px;
  width: 70px;
  height: fit-content;
  position: absolute;
  left: 15px;
}
.app-name {
  color: rgb(12, 2, 68);
  font-weight: 700;
  position: relative;
  right: 60px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 15%;
  display: flex;
  justify-content: center; /* Center align items horizontally */
}

nav ul li {
  margin-right: 2.5em; /* Space between buttons */
}

nav ul li button {
  background-color: transparent; /* Neutral gray color for buttons */
  color: #15023d; /* Light text color for contrast */
  border: 1px solid transparent; /* Subtle border effect */
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li button:hover {
  background-color: #16025e; /* Slightly darker background on hover */
  border-color: #ecf0f1; /* Light border color on hover */
  color: white;
  transform: scale(1.05); /* Subtle grow effect */
}

nav ul li button:focus {
  outline: none; /* Remove default focus outline */
}
